.idea/
/.pytest_cache/
**/__pycache__/
**/*.pth
.pytype/
.pyre
**/*.prc
/.coverage
/.data/
*.egg-info
**/zzz*.py
/deepclustering/runs/
/runs/
script/runs/

/playground/runs/
/archives/
**/.mypy_cache/
.DS_Store
**/*.pyc